* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accentColor: rgb(219, 173, 173);
    --accentText: rgb(193, 127, 127);
    --answerColor: rgb(79, 44, 62);
    --hover: rgba(165, 42, 42, 0.435);
    --darkHover: rgba(165, 42, 42, 0.714);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    max-width: 100vw;
    height: 80px;
    background-color: var(--accentColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    margin-bottom: 50px;
}

.header-box {
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.header-box p {
    font-size: large;
}

#vhs:hover {
    background-color: var(--hover);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-box {
    width: 600px;
    min-height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box-header {
    text-align: center;
    color: var(--accentText);
}

#box-text {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

#list {
    padding: 20px;
    line-height: 200%;
    list-style: none;
}

#list li {
    background-color: var(--answerColor);
    color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 2px;
    text-align: center;
    font-size: medium;
    width: 300px;
}

#list li:hover {
    background-color: var(--darkHover);
    cursor: pointer;
}

#start-button {
    background-color: var(--accentColor);
    border-radius: 10px;
    color: black;
    font-size: large;
    padding: 10px;
    margin: 10px;
}

#start-button:hover {
    background-color: var(--hover);
    cursor: pointer;
}

#initial-form {
    margin-top: 20px;
}

#init-button {
    background-color: var(--accentColor);
    border-radius: 10px;
    color: black;
    font-size: small;
    padding: 3px;
    margin: 5px;
}

#init-button:hover {
    background-color: var(--hover);
    cursor: pointer;
}

#result {
    color: var(--accentText);
    font-size: large;
    font-weight: 100;
    margin-bottom: 20px;
    width: 400px;
    padding-top: 10px;
    text-align: center;
}